<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<h1><%= t "login.title" %></h1>
<%= form_with url: session_path, class: "form" do |form| %>
  <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: t("login.username"), value: params[:email_address] %>
  <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: t("login.password"), maxlength: 72 %>
  <%= form.submit t("login.sign_in") %>
<% end %>
<br>

<%= link_to t("login.forgot_password"), new_password_path %>
