<% cache @article do %>
  <section class="article container">
    <div class="article__breadcrumbs">
      <%= link_to t(".home"), articles_path, class: "article__breadcrumbs__link" %>
      <span class="article__breadcrumbs__item">/</span>
      <h1><%= @article.title %></h1>
    </div>
    <%= image_tag @article.featured_image, class: "article__image" if @article.featured_image.attached? %>
    <p><%= @article.body %></p>
  </section>
<% end %>

<% if authenticated? %>
  <div class="actions">
    <%= link_to t(".edit"), edit_article_path(@article), class: "actions__item" %>
    <%= link_to t(".destroy"), article_path(@article), data: { turbo_method: :delete, turbo_confirm: t(".are_you_sure") }, class: "actions__item" %>
  </div>
<% end %>
