<% cache @article do %>
  <h1><%= @article.title %></h1>
  <%= image_tag @article.featured_image if @article.featured_image.attached? %>
  <p><%= @article.body %></p>
<% end %>

<ul>
  <% if authenticated? %>
    <li><%= link_to "Edit", edit_article_path(@article) %></li>
    <li><%= link_to "Destroy", article_path(@article), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></li>
  <% end %>
  <li><%= link_to 'Back', articles_path %></li>
</ul>

